<div class="container event-details">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Information</h5>
          <dl class="row">
            <dt class="col-sm-3">Date</dt>
            <dd class="col-sm-9">{{ event.timestamp }}</dd>

            <dt class="col-sm-3">Location</dt>
            <dd class="col-sm-9">
              {% if event.table %}{{ event.table }}{% else %}{{ event.pub }}{% endif %}<br/>
              <a href="{{ event.pub.map_url }}">Map</a>
            </dd>

            {% if event.pub.menu_url %}
              <dt class="col-sm-3">Menu</dt>
              <dd class="col-sm-9"><a href="{{ event.pub.menu_url }}">View Menu</a></dd>
            {% endif %}
          </dl>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">Attendance</h5>
          {% if rsvp %}
            {% if rsvp.method == "A" %}
              <p>You have automatically said yes using AutoPub.</p>
              {% if not is_past %}
                <button class="btn btn-sm btn-danger"
                        hx-post="{% url 'pub:events-update-response' event.id %}"
                        hx-target="closest .event-details"
                        hx-swap='outerHTML'
                >
                  I won't be coming
                </button>
              {% endif %}
            {% elif rsvp.method == "D" %}
              <p>You marked interest in this pub on Discord.</p>
              <p>If you are no longer going to come, please remove your interest on the Discord event.</p>
            {% elif rsvp.method == "W" %}
              {% if rsvp.is_attending %}
                <p>You said yes to this pub via this web interface.</p>
                {% if not is_past %}
                  <button class="btn btn-sm btn-danger"
                          hx-post="{% url 'pub:events-update-response' event.id %}"
                          hx-target="closest .event-details"
                          hx-swap='outerHTML'
                  >
                    I'm not coming anymore!
                  </button>
                {% endif %}
              {% else %}
                <p>You said no to this pub via this web interface. </p>
                <p>That usually means you opted-out of AutoPub.</p>
                {% if not is_past %}
                  <button class="btn btn-sm btn-success"
                          hx-post="{% url 'pub:events-update-response' event.id %}"
                          hx-target="closest .event-details"
                          hx-swap='outerHTML'
                  >
                    I'm actually coming
                  </button>
                {% endif %}
              {% endif %}
            {% endif %}
          {% else %}
            {% if is_past %}
              <p>You did not respond to this pub.</p>
            {% else %}
              <p>You have not responded to this pub yet.</p>
              <button class="btn btn-sm btn-success"
                      hx-post="{% url 'pub:events-update-response' event.id %}"
                      hx-target="closest .event-details"
                      hx-swap='outerHTML'
              >
                I'm coming!
              </button>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Attendees ({{ attendees|length }})</h5>
          <ul class="list-group list-group-flush">
            {% for attendee in attendees %}
              <a class="list-group-item list-group-item-action" href="{% url 'accounts:person-detail' attendee.id %}">{{ attendee }}</a>
            {% empty %}
              <p>There are no attendees.</p>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>