{% extends "base_profile.html" %}
{% load crispy_forms_tags django_htmx static %}

{% block title %}API Tokens{% endblock %}

{% block buttons %}
  <a class="btn btn-success" href="{% url 'accounts:api-token-create' %}">Create Token</a>
{% endblock %}

{% block content %}
  {{ block.super }}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Token</th>
        <th scope="col">Active?</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for api_token in object_list %}
        {% include "accounts/api_tokens__table_row.html" %}
      {% empty %}
        <p>You do not have any API Tokens.</p>
      {% endfor %}
    </tbody>
  </table>
  {% django_htmx_script %}
{% endblock %}