{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block page_title %}Login{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <p>Sign in to continue.</p>
      <a href="{% url 'accounts:sown_login' %}?next={{ next|urlencode }}" class="btn btn-primary w-100">Login with SOWN</a>
      <a href="{% url 'accounts:discord_login' %}?next={{ next|urlencode }}" class="btn btn-secondary w-100 mt-2">Login with Discord</a>
    </div>
  </div>
{% endblock %}
