{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block page_title %}Login{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <p>Sign in with your SOWN account to continue.</p>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn btn-primary w-100">Login with SOWN</button>
      </form>
    </div>
  </div>
{% endblock %}
