{% extends "base.html" %}
{% load static %}

{% block page_title %}My Profile{% endblock %}

{% block content %}
  {% with view=request.resolver_match.view_name %}
    <ul class="nav nav-tabs mb-2">
      <li class="nav-item">
        <a class="nav-link {% if view == 'accounts:profile' %}active{% endif %}" aria-current="page" href="{% url 'accounts:profile' %}">My Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if view == 'accounts:api-tokens' %}active{% endif %}" aria-current="page" href="{% url 'accounts:api-tokens' %}">My API Tokens</a>
      </li>
    </ul>
  {% endwith %}
{% endblock %}