<li class="nav-item dropdown">
  <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center" id="ferry-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme">
    <i class="bi-moon-stars-fill my-1" id="ferry-theme-active-icon"></i>
    <span class="d-lg-none ms-2" id="ferry-theme-text">Toggle theme</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="ferry-theme-text">
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
        <i class="bi-sun-fill bi me-2 opacity-50"></i>
        Light
        <i class="bi-check2 bi ms-auto d-none"></i>
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="dark" aria-pressed="true">
        <i class="bi-moon-stars-fill bi me-2 opacity-50"></i>
        Dark
        <i class="bi-check2 bi ms-auto d-none"></i>
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
        <i class="bi-circle-half bi me-2 opacity-50"></i>
        Auto
        <i class="bi-check2 bi ms-auto d-none"></i>
      </button>
    </li>
  </ul>
</li>