{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.display_name }}{% endblock %}
{% block page_title %}{{ object.display_name }}{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'court:scoreboard' %}">Current Scores</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ object.display_name }}</li>
    </ol>
  </nav>

  <div class="card mb-2">
    <div class="card-body">
      <p>Current Score: {{ object.current_score }}</p>
      <p>Times accused: {{ object.num_ratified_accusations }}</p>
    </div>
  </div>

  <hr>

  {% for accusation in accusations %}
    <div class="card mb-2">
      <div class="card-header">
        {{ accusation.created_at }}
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'court:person_score' accusation.created_by.id %}">{{ accusation.created_by }}</a> accused <a href="{% url 'court:person_score' accusation.suspect.id %}">{{ accusation.suspect }}</a>
        </h5>
        {% if accusation.quote != "NO QUOTE RECORDED" %}
          <p class="card-text">
            <figure>
              <blockquote class="blockquote">
                <p>“{{ accusation.quote }}”</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                {{ accusation.suspect }}, allegedly
              </figcaption>
            </figure>
          </p>
        {% endif %}
      </div>
      {% if accusation.ratification %}
        <div class="card-footer text-body-secondary">
          <p>This accusation was ratified by <a href="{% url 'court:person_score' accusation.ratification.created_by.id %}">{{ accusation.ratification.created_by }}</a>.</p>
          <p><strong>{{ accusation.suspect }} was sentenced to {{ accusation.ratification.consequence }}</strong></p>
        </div>
      {% endif %}
    </div>
  {% empty %}
    <p>Sorry, nothing to see here.</p>
  {% endfor %}
{% endblock %}