{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.display_name }}{% endblock %}
{% block page_title %}{{ object.display_name }}{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'court:scoreboard' %}">Current Scores</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ object.display_name }}</li>
    </ol>
  </nav>

  <div class="card mb-2">
    <div class="card-body">
      <p>Current Score: {{ object.current_score }}</p>
      <p>Times accused: {{ object.num_ratified_accusations }}</p>
    </div>
  </div>

  <hr>

  {% for accusation in accusations %}
    {% include "inc/accusation-card.html" with accusation=accusation %}
  {% empty %}
    <p>Sorry, nothing to see here.</p>
  {% endfor %}
{% endblock %}