{% extends "base_home.html" %}
{% load static %}

{% block title %}Scoreboard{% endblock %}

{% block content %}
  {{ block.super }}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Person</th>
        <th scope="col">Current Score</th>
        <th scope="col">Times Accused</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for person in object_list %}
        <tr>
          <th scope="row">{{ person.rank }}</th>
          <td><a href="{% url 'court:person_score' person.id %}">{{ person.display_name }}</a></td>
          <td>{{ person.current_score|floatformat:2 }}</td>
          <td>{{ person.num_ratified_accusations }}</td>
          <td><a href="{% url 'court:person_score' person.id %}">View</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}